.file_not_selected{
    width: 250px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7D81D6;
    color: #7D81D6
}

.file_selected {
    width: 250px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #70e054;
    color: #70e054
}

.text_input {
    height: 30px;
    border-radius: 20px;
    border: 2px solid #7D81D6;
    color: #7D81D6;
    margin: 1em 0;
    padding-left: 10px;
}
.text_input::placeholder {
    color: #7D81D6;
}

.file_selector_container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.btn_add {
    align-self: center;
}

.btn_add button {
    height: 30px;
    width: 100px;
    margin-top: 1em;
    border-radius: 20px;
    border: 0;
    background-color: #7D81D6;
    color: #fff;
}

.btn_add button:active {
    background-color: #70e054;
}

.warning_message {
    font-size: .8em;
    color: #EB7960;
    margin-top: 1rem;
}